/*SELECTS ========================================================= */
.selectsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.selectRecent,
.selectFilter {
  height: 60px;
  width: 50%;
  display: grid;
  align-items: center;
}

.selectRecent {
  justify-content: left;
}

.selectFilter {
  justify-content: right;
}
/* ========================================================= */
.cardContainer {
  display: inline-flex;
  flex-direction: column;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3rem;
  cursor: pointer;
  position: relative;
}

.draft {
  cursor: initial;
}

.cardMargin {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100%;
}

.cardImageContainer {
  position: relative;
}

.trendingLabel {
  position: absolute;
  background-color: var(--colorPrimaryDark);
  z-index: 1;
  top: 15px;
  left: 15px;
  min-width: 80px;
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.trendingLabel span {
  margin-left: 10px;
}

.image {
  border-radius: 10px;
  display: inline-block;
  height: 18rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.emptyImg {
  width: 100%;
  height: inherit;
  border: 1px solid var(--colorItemBorder);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardNumbersContainer {
  display: flex;
}

.cardNumbersContainer div {
  width: 15%;
}

.cardNumbersContainer div:first-child {
  width: 70%;
}

.likesContainer,
.peopleContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likesContainer span,
.peopleContainer span {
  margin-right: 5px;
}

.peopleContainer span {
  margin-left: 10px;
}

.premium {
  left: unset;
  right: 10px;
  background-color: var(--colorArticlePremium);
}

@media (max-width: 999px) {
  .selectsContainer {
    display: grid;
    justify-content: center;
  }

  .selectRecent,
  .selectFilter {
    width: 100%;
  }

  .selectFilter {
    justify-content: center;
  }

  .cardContainer {
    display: grid;
    width: 100%;
    height: 100%;
  }
}

.options {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 2;
}

.optionsMobile {
  display: none;
  z-index: 2;
}

@media (max-width: 991.98px) {
  .options {
    display: none;
  }

  .optionsMobile {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
