.tabBar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 3rem;
  height: max-content;
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  align-items: center;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.tabBar::-webkit-scrollbar {
  display: none;
}

.tabBar:hover {
  cursor: url('/images/move.png') 25 10, auto;
}

.authorSection {
  border-right: 1px solid var(--colorItemBorder);
  margin-right: 2.5rem;
  padding-right: 2.5rem;
}

.item {
  color: var(--colorSecondary);
  cursor: url('/images/move.png') 25 10, auto;
  text-decoration: none;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  -webkit-user-drag: none;
}

.item:nth-child(1) {
  margin-left: 0;
}

.item:hover {
  color: var(--colorSecondary);
  text-decoration: none;
}

.item.active {
  color: var(--colorLight);
}

.gradientLeft {
  position: absolute;
  left: 0;
  background-color: red;
  width: 20px;
  height: 100%;
}

.scrollIndicator {
  position: sticky;
  right: 0;
}

.indicatorBullet {
  border-radius: 50%;
  padding: 10px;
}

.indicatorBullet:hover {
  background-color: var(--colorPrimary) !important;
}

@media screen and (max-width: 1199.98px) {
  .authorSection {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
}

@media(max-width: 380px) {
  .indicatorMovilLeft {
    display: block !important;
    font-size: 24px !important;
    position: sticky !important;
    left: 0;
    color: var(--colorLight) !important
  }
  .indicatorMovilRight {
    display: block !important;
    font-size: 24px !important;
    position: sticky !important;
    right: 0;
    color: var(--colorLight) !important
  }
  .lastOption {
    margin-right: 35px !important;
  }
}


/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .indicatorMovilLeft {
    display: block;
    font-size: 24px;
    position: sticky !important;
    left: 0;
    background-color: var(--colorPrimaryDark);
    color: var(--colorLight) !important
  }
  .indicatorMovilRight {
    display: block;
    font-size: 24px;
    position: sticky !important;
    background-color: var(--colorPrimaryDark);
    right: 0;
    color: var(--colorLight) !important
  }
}

/* // Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
  .indicatorMovilLeft {
    display: block;
    font-size: 24px;
    position: sticky !important;
    left: 0;
    background-color: var(--colorPrimaryDark);
    color: var(--colorLight) !important
  }
  .indicatorMovilRight {
    display: block;
    font-size: 24px;
    position: sticky !important;
    background-color: var(--colorPrimaryDark);
    right: 0;
    color: var(--colorLight) !important
  }
}

/* // X-Large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {
  .indicatorMovilLeft {
    display: block;
    font-size: 24px;
    position: sticky !important;
    left: 0;
    background-color: var(--colorPrimaryDark);
    color: var(--colorLight) !important
  }
  .indicatorMovilRight {
    display: block;
    font-size: 24px;
    position: sticky !important;
    background-color: var(--colorPrimaryDark);
    right: 0;
    color: var(--colorLight) !important
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .indicatorMovilLeft {
    display: none !important;
  }
  .indicatorMovilRight {
    display: none !important;
  }
}