.modalContainer {
  background-color: var(--colorItemBg);
  padding: 2.5rem;
  border-radius: 10px;
}

.modalWidth {
  max-width: 850px;
}

.textarea {
  resize: vertical !important;
  height: fit-content;
}

.textarea::placeholder {
  color: var(--text-color-light);
}

.textarea:focus {
  background-color: transparent !important;
}

.footer {
  border: 0;
  display: flex;
  justify-content: space-between;
}

.tools {
  display: flex;
  align-items: center;
  border: 1px solid var(--backgroung-color-low-dark);
  border-style: dashed;
  background-color: var(--backgroung-color-dark);
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.tools section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tools section:first-child {
  width: 25%;
  word-break: break-all;
}

.files {
  color: var(--colorLight);
  font-size: var(--font-size-sm);
}

.tools_media {
  cursor: pointer;
  width: 46px;
  height: 40px;
  border-radius: 0px;
  background-color: var(--backgroung-color-dark);
  border: 1px solid var(--backgroung-color-low-dark);
  color: var(--text-color-secondary);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: 0.5s;
}

.tools_media:last-child {
  margin-right: 0px;
}

.tools_media:hover {
  background-color: var(--text-color-sgrey);
  color: #fff;
}

.resource {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding-left: 1rem;
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--colorItemBorder);
}

.edit {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.btn {
  color: var(--text-color-secondary);
  font-family: Icons;
  margin-right: 1rem;
}

.editDropdown {
  position: absolute;
  top: 100%;
  right: 0rem;
  visibility: hidden;
  z-index: 5;
}

.edit:hover .btn {
  color: var(--text-color-light);
}

.edit:hover .editDropdown {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .visibilitySection {
    margin-bottom: 5.5rem;
  }
}
