.modal_video {
  background-color: var(--contentTransparentRGB);
}

.modal_video_backC {
  background-color: var(--colorItemBg);
  filter: brightness(120%);
  border: none;
}

.modal_video_title {
  border-radius: 10px 10px 0 0;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.modal_video_body {
  padding-left: 40px;
  padding-right: 40px;
}

.modal_video_footer {
  border-radius: 0 0 10px 10px ;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
