.accordion_container {
  background-color: transparent;
}

.card_container {
  background-color: transparent;
}

.card_title {
  letter-spacing: -1.4px;
  line-height: 1.8rem;
}

.card_body {
  letter-spacing: -1.4px;
  line-height: 1.8rem;
}

.icon_container {
  border: 1px solid var(--colorItemBorder);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_card {
  width: 1.5rem;
}

.categoryTitle {
  line-height: 2rem;
}

.premiumLabel {
  position: relative;
  background-color: var(--colorArticlePremium);
  z-index: 1;
  min-width: 80px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.premiumLabel span {
  margin-left: 10px;
}

.flag {
  border: 1px solid var(--colorItemBorder);
  border-radius: 50%;
  min-width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
}

.flag_selected {
  border: 1px solid var(--colorItemBorder);
  border-radius: 50%;
  min-width: 2.5rem;
  height: 2.5rem;
  background-color: var(--colorBackgroundDarkSec);
}

.flag:hover , .flag_selected:hover {
  filter: brightness(150%);
}

.icon_flag {
  position: relative;
  top: -0.15rem;
  left: 0rem;
}

.icon_hover {
  border: 1px solid var(--colorItemBorder);
  border-radius: 7px;
  width: 2.5rem;
  height: 2rem;
}

.icon_options {
  position: relative;
  top: -0.25rem;
  left: 0.7rem;
}

.button_dropdown_content {
  background-color: transparent !important;
}

.button_dropdown {
  background-color: transparent !important;
  margin: 0 !important;
}

.button_dropdown > button {
  border: 0px solid var(--colorItemBorder);
  border-radius: 7px;
  width: 2.5rem;
  height: 2rem;
  padding: 0;
  position: relative;
  font-family: Icons;
  font-size: var(--icon-size-sm);
  color: var(--colorSecondary) !important;
  justify-content: end !important;
  background-color: transparent !important;
  z-index: 5;
}

.button_dropdown > button::after {
  display: none !important;
}

.button_dropdown > div {
  opacity: 1 !important;
  padding: 0;
  background-color: var(--colorItemBg);
  border-radius: 7px;
  min-width: 8rem;
}

.button_dropdown > div .item_dropdown {
  font-size: var(--font-size-sm) !important;
  color: var(--colorSecondary) !important;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.button_dropdown > div .item_dropdown:active {
  background-color: var(--colorSecondary);
  border-radius: 7px;
  color: white !important;
}

.button_dropdown > div .item_dropdown:hover {
  border-radius: 7px;
  background-color: var(--colorSecondary);
  color: white !important;
}

.button_dropdown > div .item_dropdown:active > * {
  color: white !important;
}

.button_dropdown > div .item_dropdown:hover > * {
  color: white !important;
}

.item_dropdown_text {
  top: 0.2rem;
  margin-left: 0.5rem;
  position: relative;
}

.link_tool {
  cursor: pointer;
}

.content_tool {
  background-color: var(--colorPrimaryDark);
  border-radius: 10px;
}

.content_tool:hover {
  filter: brightness(110%);
  position: relative;
  z-index: 10;
}

.content_tool:hover .button_dropdown {
  filter: brightness(95%);
}

@media screen and (max-width: 575.98px) {
  .icon_container {
    border: 1px solid var(--colorItemBorder);
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon_card {
    width: 1.2rem;
  }
}
