/*###############BLOG TEXT CLASSES#######################*/

.title-editor-xl {
  font-family: var(--font-bold);
  font-size: var(--font-size-xl);
  color: var(--text-color-light);
}

.BLOG .title, .title-editor {
  font-family: var(--font-bold);
  font-size: var(--font-size-lg);
  color: var(--text-color-light);
}

.BLOG .subtitle, .subtitle-editor {
  font-family: var(--font-bold);
  font-size: var(--font-size-md);
  color: var(--text-color-light);
}

.BLOG .paragraph, .paragraph-editor {
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  color: var(--text-color-light);
}

.BLOG .footer-text, .footer-text-editor {
  font-family: var(--font-regular);
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
}

.blog-content {
  padding-top: 150px;
}

.blog-content iframe {
  max-width: 100% !important;
}

.content-btns {
  /* margin: auto; */
  margin-top: 28vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-btns-last {
  text-align: center;
}

.content-btns-last label {
  margin-top: 50px;
  display: block;
}

.blog-not-find {
  text-align: center;
  margin-top: 12% !important;
  min-height: 240px;
}

.blog-loading {
  text-align: center;
  margin-top: 12% !important;
  min-height: 240px;
}

.blog-loading div {
  margin: auto;
}

.Btn-square {
  font-family: Icons;
  font-size: 1.2rem;
  border: 1px solid var(--colorItemBorder);
  color: var(--text-color-secondary);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--contentTransparentRGB);
  display: block;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

.Btn-square:hover {
  background-color: var(--colorPrimary);
  color: var(--text-color-light);
}

.Btn-rounded {
  font-family: Icons;
  font-size: 1.1rem;
  border: 1px solid var(--colorItemBorder);
  color: var(--text-color-secondary);
  border-radius: 30px;
  padding: 6px 11px;
  background-color: var(--contentTransparentRGB);
  display: block;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}

.button__active{
  background-color: var(--colorPrimaryTransp);
  color: var(--text-color-highlight);
}

.Btn-rounded:hover {
  background-color: var(--colorPrimary);
  color: var(--text-color-light);
}

.Btn-rounded.d-i {
  margin: auto;
  display: inline;
  margin-right: 20px;
}

.Btn-square.d-i {
  margin: 10px;
  display: inline;
}

.Btn-like {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorPrimary);
  border: none;
  font-family: var(--colorLight);
  color: var(--colorLight);
  width: 7.5rem;
  height: 40px;
  position: relative;
  transition: 0.2s;
  transition-property: width, border, color, background-color;
}

@media (hover: hover) and (pointer: fine) {
  .Btn-like:hover {
    background-color: var(--colorPrimaryHover);
  }
}

.Btn-like:active {
  background-color: var(--colorPrimaryActive);
}

.Btn-like:active .icon-btn {
  color: var(--text-color-highlight) !important;
}

.Btn-like__active {
  width: 4rem;
  height: 2.5rem;
  background-color: var(--colorPrimaryTransp);
  border: none;
}

.loader-big {
  height: 100px !important;
  width: 100px !important;
}

.loader-big span {
  height: 100px !important;
  width: 100px !important;
  clip: rect(0, 100px, 100px, 55px) !important;
}

.loader-big span::after {
  height: 100px !important;
  width: 100px !important;
  clip: rect(0, 100px, 100px, 55px) !important;
}

.article-content h1 {
  font-family: var(--font-medium);
  font-size: var(--font-size-lg);
  color: var(--text-color-light);
}

.article-content h1 {
  font-family: var(--font-medium);
  font-size: var(--font-size-lg);
  color: var(--text-color-light);
  margin-top: 60px;
  margin-bottom: 10px;
}

.article-preview-content h1 {
  margin-top: 0px !important;
}

.article-content h3 {
  font-family: var(--font-bold);
  font-size: var(--font-size-md);
  color: var(--text-color-light);
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-content p {
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  color: var(--text-color-light);
  margin-top: 15px;
  margin-bottom: 15px;
}

.article-content small {
  font-family: var(--font-regular);
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-content-center {
  text-align: center;
}

.article-content img {
  text-align: center;
  margin: auto;
  max-width: 100%;
}

.article-content iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-content iframe[title="video"] {
  width: 100%;
  height: calc(76vw/1.77);
}

.article-content iframe[title="audio"] {
  width: 100%;
}

.content-fixed {
  position: fixed;
}

.content-fixed.left {
  width: inherit;
}

.content-fixed.right {
  width: inherit;
}

.content-n-p {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content-blog-autor {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-blog-autor .content-right {
  text-align: right;
}

.content-centered {
  text-align: center;
  justify-content: center;
}

.content-centered.childs div {
  margin: auto;
}

.icon-btn {
  font-family: Icons;
  font-style: normal;
  margin-right: 0.5rem;
  transition: 0.2s;
}

.full-content {
  width: 100% !important;
}
.select-area::selection{
  background-color: var(--blue) !important;
}

.select-area > p::selection{
  background-color: var(--blue) !important;
}

.select-area > h1::selection{
  background-color: var(--blue) !important;
}

.select-area > h3::selection{
  background-color: var(--blue) !important;
}


@media (max-width: 576px) {
  .content-btns {
    display: none;
  }
  .full-content-mob {
    width: 100% !important;
  }
}

@media (max-width: 460px) {
  .content-right {
    display: inline-flex;
  }

  .Btn-like {
    top: 0px !important;
  }
}
/*#######################################################*/


/************notas**********/
.tooltip-notas-menu {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transition: all .3s ease;
  opacity: 1 !important;
  -webkit-transition: all .3s ease;
  cursor: pointer;
}

.tooltip-notas-menu > .tooltip-inner {
  border-radius: 0 !important;
}

.tooltip-notas-menu span{
  color: var(--text-color-light) !important;
}

.appear {
    -webkit-animation: appear .2s;
    animation: appear .2s;
}

.disappear {
    -webkit-animation: disappear .2s;
    animation: disappear .2s;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    margin-top: -25px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    margin-top: -5px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    opacity: 0;
    margin-top: -5px;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  100% {
    opacity: 0;
    margin-top: -5px;
  }
}
