@font-face {
  font-family: BasierCircle-Medium;
  src: url("/fonts/BasierCircle-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: BasierCircle-Regular;
  src: url("/fonts/BasierCircle-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: Gilroy-Medium;
  src: url("/fonts/Gilroy-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: Icons;
  src: url("/fonts/IconosFuenteNTT.otf");
}

:root, *::before, *::after {
  --blue: #0080b1;
  --black: #0d0c22;
  --black-10: #232739;
  --blackRGB-10: rgb(13 13 34);
  --black-20: #393f5b;
  --gray: #757e94;
  /* --white-20: #e7e7e9;
  --white-10: #f3f3f4; */
  --white: #ffffff;
  --red: #ff5555;

  /* EDITOR COLORS */
  --blue2: #0080b1;
  --green: #83b254;
  --gblue: #393f5b;
  --sblue: #232739;
  --sgrey: #757e94;
  /* EDITOR COLORS */

  --orange: #bc4328;
  --yellow: #e6b600;
  --magenta: #aa3c80;

  --blue-20: #0080b133;
  --orange-20: #bc432833;
  --yellow-20: #e6b60033;
  --green-20: #bc432833;
  --green-30: #83b2546b;
  --magenta-20: #aa3c8033;

  --contentTransparentRGB: rgba(0, 0, 0, 0);

  --colorPrimary: var(--blue); /* color corporativo */
  --colorPrimaryDark: var(--black); /* Iconos y texto primario */
  --colorSecondary: var(--gray); /* Iconos y texto secundario */
  --colorLight: var(--white); /* Iconos, textos y fondos claros */
  --colorItemBorder: var(--black-20); /* Contornos y subrayados */
  --colorBackgroundDarkSec: var(--black-20); /*Fondo no negro secundario*/
  --colorItemBg: var(--black-10); /* Fondo no negro */
  --colorItemBgRGB: var(--blackRGB-10); /* Fondo no negro en RGB */
  --colorLightFaint: var(--white-20); /* Contornos y subrayados */
  --colorError: var(--orange); /* Indicadores de error */
  --colorWarning: var(--magenta); /* Indicadores de aviso */
  --colorSuccess: var(--green); /* Elementos de acción */
  --colorSuccessTransp: var(--green-30); /*indicador de accion con transparencia*/
  --colorWarningTransp: var(--magenta-20); /*indicador de accion con transparencia*/

  --text-color-dark: var(--black);
  --text-color-light: var(--white);
  --text-color-secondary: var(--gray);
  --text-color-highlight: var(--blue);
  --text-color-error: var(--colorError);

  /* EDITOR COLORS */
  --text-color-sgrey: var(--sgrey);

  --backgroung-color-dark: var(--sblue);
  --backgroung-color-low-dark: var(--gblue);

  --background-color-button-modal: var(--blue2);
  /* EDITOR COLORS */

  --text-color-error: var(--orange);

  --btnBorderRadius: 50vh;
  --inputBorderRadius: 7px;

  --font-bold: Gilroy-Medium;
  --font-medium: BasierCircle-Medium;
  --font-regular: BasierCircle-Regular;

  --font-size-xl: 3.5rem; /* 56px */
  --font-size-lg: 1.75rem; /* 28px */
  --font-size-md: 1rem; /* 16px */
  --font-size-sm: 0.875rem; /* 14px */

  --icon-size-sm: 1rem;
  /* 16px */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-regular), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  height: 100vh;
}

/* Global styles */

.main-container {
  width: 100%;
  min-height: 100vh;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-bg {
  background-color: var(--colorPrimaryDark);
}

/* TEXT */

.title-xl {
  font-family: var(--font-bold);
  font-size: var(--font-size-xl);
  color: var(--text-color-light);
}

.title {
  font-family: var(--font-medium);
  font-size: var(--font-size-lg);
  color: var(--text-color-light);
}

.subtitle {
  font-family: var(--font-bold);
  font-size: var(--font-size-md);
  color: var(--text-color-light);
}

.text-md {
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  color: var(--text-color-light);
}

.text-sm {
  font-family: var(--font-regular);
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
}

.text--theme-light {
  color: var(--text-color-light) !important;
}

.text--theme-dark {
  color: var(--text-color-dark) !important;
}

.text--theme-highlight {
  color: var(--text-color-highlight);
}

.text--theme-error {
  color: var(--text-color-error);
}

.icon {
  font-family: Icons;
  font-size: var(--icon-size-sm);
  color: var(--text-color-secondary);
}

.icon--theme-secondary {
  color: var(--text-color-secondary);
}

.icon--theme-highlight {
  color: var(--text-color-highlight);
}

.icon-toolBackgournd-1 {
  background-color: var(--green);
  color: var(--text-color-light) !important;
}

.icon-toolBackgournd-2 {
  background-color: var(--blue2);
  color: var(--text-color-light) !important;
}

/* BUTTON */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btnBgPrimary);
  border: 0;
  border-radius: var(--btnBorderRadius);
  color: var(--btnTextPrimary);
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  letter-spacing: -0.4px;
  min-height: 38px;
  min-width: 7rem;
  text-align: center;
}

.button__icon {
  font-family: Icons;
  font-size: var(--icon-size-sm);
  color: var(--text-color-secondary);
  margin-right: 0.25rem;
}

.button--theme-primary {
  color: var(--colorLight) !important;
  background-color: var(--colorPrimary);
}

.button--theme-secondary {
  color: var(--text-color-secondary);
  background-color: var(--colorItemBg);
  border: 1px solid var(--colorItemBorder);
}

.button--theme-success {
  color: var(--text-color-light);
  background-color: var(--colorSuccess);
}

.button:active {
  filter: brightness(85%);
}

.input {
  height: 38px;
  background-color: var(--colorItemBg);
  color: var(--text-color-secondary);
  font-family: var(--font-regular);
  font-size: var(--font-size-sm);
  border: 1px solid var(--colorItemBorder);
  border-radius: var(--inputBorderRadius);
  padding: 0.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

label.input {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.input--hidden {
  display: none;
}

.input:focus {
  color: var(--colorLight);
  outline: none;
  border: 1px solid var(--colorLight);
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input__icon {
  width: 2.5rem;
  height: 38px;
  background-color: var(--colorItemBg);
  border: 1px solid var(--colorItemBorder);
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.input-container .input {
  border-top-left-radius: var(--inputBorderRadius);
  border-bottom-left-radius: var(--inputBorderRadius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  padding-left: 0.5rem;
  padding-right: 0rem;
}

.input-container .input:focus {
  border: 1px solid var(--colorLight);
  border-right: 0;
}

.input-container .input:focus ~ .input__icon {
  /* background-color: var(--colorLight); */
  border: 1px solid var(--colorLight);
  border-left: 0;
}

.input-container .input__icon {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--inputBorderRadius);
  border-bottom-right-radius: var(--inputBorderRadius);
}

.select {
  height: 38px;
  background-color: var(--colorItemBg);
  border: 0;
  color: var(--text-color-secondary);
  font-family: var(--font-regular);
  font-size: var(--font-size-sm);
  border: 1px solid transparent;
  border-radius: var(--inputBorderRadius);
  padding: 0.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.select:focus {
  /* background-color: var(--colorLight); */
  outline: none;
  border: 1px solid var(--colorLight);
}

.selectMultiple {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.selectMultiple select {
  display: none;
}

.selectMultiple > div {
  position: relative;
  z-index: 2;
  padding: 8px 12px 2px 12px;
  border-radius: 8px;
  background: var(--colorItemBg);
  font-size: 14px;
  min-height: 44px;
  border: 1px solid var(--colorItemBorder);
}

.selectMultiple > div .arrow {
  right: 1px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 28px;
  position: absolute;
}
.selectMultiple > div .arrow:before,
.selectMultiple > div .arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-bottom: 8px solid var(--colorSecondary);
  top: 43%;
  transition: all 0.3s ease;
}

.selectMultiple > div .arrow:before {
  right: 12px;
  transform: rotate(-130deg);
}

.selectMultiple > div .arrow:after {
  left: 9px;
  transform: rotate(130deg);
}

.selectMultiple > div span {
  color: var(--colorSecondary);
  display: block;
  position: absolute;
  left: 12px;
  cursor: pointer;
  top: 8px;
  line-height: 28px;
  transition: all 0.3s ease;
}

.selectMultiple > div span.hide {
  opacity: 0;
  visibility: hidden;
  transform: translate(-4px, 0);
}

.selectMultiple > div a {
  position: relative;
  padding: 0 24px 6px 8px;
  line-height: 28px;
  color: var(--colorSecondary) !important;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 0 0;
  text-decoration: none;
}

.selectMultiple > div a em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}
.selectMultiple > div a:before {
  content: "";
  left: 0;
  top: 0;
  bottom: 6px;
  width: 100%;
  position: absolute;
  display: block;
  background: var(--colorItemBorder);
  z-index: -1;
  border-radius: 4px;
}

.selectMultiple > div a i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 28px;
  display: block;
}
.selectMultiple > div a i:before,
.selectMultiple > div a i:after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--colorSecondary);
  border-radius: 1px;
}

.selectMultiple > div a i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.selectMultiple > div a i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.selectMultiple > div a.notShown {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.selectMultiple > div a.notShown:before {
  width: 28px;
  transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}

.selectMultiple > div a.notShown i {
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}

.selectMultiple > div a.notShown em {
  opacity: 0;
  transform: translate(-6px, 0);
  transition: all 0.4s ease 0.3s;
}

.selectMultiple > div a.notShown.shown {
  opacity: 1;
}

.selectMultiple > div a.notShown.shown:before {
  width: 100%;
}

.selectMultiple > div a.notShown.shown i {
  opacity: 1;
}

.selectMultiple > div a.notShown.shown em {
  opacity: 1;
  transform: translate(0, 0);
}

.selectMultiple > div a.remove:before {
  width: 28px;
  transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}

.selectMultiple > div a.remove i {
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.selectMultiple > div a.remove em {
  opacity: 0;
  transform: translate(-12px, 0);
  transition: all 0.4s ease 0s;
}

.selectMultiple > div a.remove.disappear {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}

.selectMultiple > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  transform: translate(0, 20px) scale(0.8);
  transform-origin: 0 0;
  transition: all 0.4s ease,
    transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
}

.selectMultiple > ul li {
  color: var(--colorSecondary);
  text-decoration: none;
  background: var(--colorItemBg);
  padding: 12px 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s,
    opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
}

.selectMultiple > ul li:first-child {
  border-radius: 8px 8px 0 0;
}

.selectMultiple > ul li:first-child:last-child {
  border-radius: 8px;
}

.selectMultiple > ul li:last-child {
  border-radius: 0 0 8px 8px;
}

.selectMultiple > ul li:last-child:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li:hover {
  background: var(--colorItemBorder);
  color: var(--colorSecondary);
}
.selectMultiple > ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: var(--colorItemBorder);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.selectMultiple > ul li.beforeRemove {
  border-radius: 0 0 8px 8px;
}

.selectMultiple > ul li.beforeRemove:first-child {
  border-radius: 8px;
}

.selectMultiple > ul li.afterRemove {
  border-radius: 8px 8px 0 0;
}

.selectMultiple > ul li.afterRemove:last-child {
  border-radius: 8px;
}

.selectMultiple > ul li.remove {
  transform: scale(0);
  opacity: 0;
}

.selectMultiple > ul li.remove:after {
  animation: ripple 0.4s ease-out;
}

.selectMultiple > ul li.notShown {
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.4s ease;
}

.selectMultiple > ul li.notShown.show {
  transform: scale(1);
  opacity: 1;
}

.selectMultiple.open > div .arrow:before {
  transform: rotate(-50deg);
}

.selectMultiple.open > div .arrow:after {
  transform: rotate(50deg);
}

.selectMultiple.open > ul {
  transform: translate(0, 12px) scale(1);
  opacity: 1;
  visibility: visible;
  border: 1px solid var(--colorItemBorder);
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}

html {
  -webkit-font-smoothing: antialiased;
}

.Btn-outline-light {
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid var(--colorLight);
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  padding: 10px 23px;
  color: var(--white);
  height: 3rem;
}

.Btn-outline-light .icon {
  color: var(--white);
  position: relative;
  top: -5px;
  font-size: 1.5rem;
  height: 0;
  margin-right: 5px;
}

.Btn-outline-light:hover {
  background-color: #ffffff2f;
}

.Btn-cancel {
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid var(--colorSecondary);
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  padding: 3px 28px;
  color: var(--colorSecondary);
  height: 2.5rem;
}

.Btn-cancel:hover {
  background-color: var(--colorSecondary);
  color: var(--colorLight);
  filter: brightness(70%);
}

.Btn-add {
  border-radius: 50px;
  background-color: var(--colorPrimary);
  border: 1px solid var(--colorPrimary);
  font-family: var(--colorLight);
  font-size: var(--font-size-md);
  padding: 3px 28px;
  color: var(--colorLight);
  height: 2.5rem;
}

.Btn-add:hover {
  filter: brightness(120%);
}

.m-a {
  margin: auto;
}

.p-r {
  position: relative;
}

/*EMBLA CAROUSEL*/

.embla {
  position: relative;
  overflow: hidden;
  padding: 20px;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.embla__container {
  display: flex;
  max-width: 350px;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 50%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 190px;
}

.embla__viewport {
  overflow: hidden;
  max-width: 1050px;
  margin: auto;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: url(/images/cursor.cur);
}

.embla__viewport.is-dragging {
  cursor: url(/images/cursor.cur);
}

/*******************/
/* SEARCH INPUT =========================== */
.navbar-light .navbar-toggler {
  background-color: #0080b1;
}

.input-group-text {
  background-color: var(--backgroung-color-dark) !important;
  border: none !important;
  color: var(--text-color-sgrey) !important;
}
/* =========================== */
/* WORLD MAP ============================================================================ */
.observablehq--collapsed,
.observablehq--expanded,
.observablehq--function,
.observablehq--gray,
.observablehq--import,
.observablehq--string:after,
.observablehq--string:before,
.observablehq--inspect {
  display: none !important;
  color: #1b1e23;
}
/* WORLD MAP ============================================================================ */
/* TOOLS EDITOR ============================================================================ */
.tooltip-inner {
  font-family: Gilroy-Medium;
  background-color: var(--backgroung-color-low-dark) !important;
  color: #ffffff !important;
  font-size: 10px !important;
}

.options-container {
  position: absolute;
  top: 20%;
  right: 7vw;
  z-index: 0;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.option-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 55px;
}

.option-content:last-child {
  margin-bottom: 0px;
}

.options-container .icon-content {
  border: 1px solid #393f5b;
  color: var(--text-color-sgrey);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.options-container .icon-content:hover {
  background-color: #6785c1;
  color: #ffffff;
}

@media (max-width: 999px) {
  .options-container {
    right: 3vw;
  }
}
/* SELECTBOX ============================================================================ */
/**/
.dropdown {
  position: relative;
  color: var(--text-color-sgrey) !important;
  border: 1px solid var(--backgroung-color-low-dark);
  border-radius: 10px;
  margin-right: 30px;
}

.dropdown.no-m {
  margin: auto;
}

.dropdown .dropdown-select {
  width: 7vw;
  color: var(--text-color-sgrey) !important;
  cursor: pointer;
  text-align: left;
  line-height: 20px;
  padding: 10px;
  display: block;
  overflow: hidden;
  max-width: 59px;
}

.select-dropdown {
  position: absolute;
  width: 10vw;
  background-color: var(--backgroung-color-dark);
  list-style: none;
  text-align: left;
  padding: 0;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid var(--backgroung-color-low-dark);
  overflow: hidden;
  min-height: 0;
  opacity: 0;
  cursor: pointer;
  transition: 0.5s;
}

.dropdown:hover .select-dropdown {
  opacity: 1;
  max-height: 124px;
}

.dropdown .dropdown-select > i {
  font-size: 13px;
  color: var(--text-color-sgrey) !important;
  cursor: pointer;
  float: right;
  line-height: 20px;
  font-style: normal;
}

.dropdown .dropdown-select small {
  font-size: 54%;
  margin-left: -1px;
}

.select-dropdown > li {
  font-size: 13px;
  color: var(--text-color-sgrey) !important;
  cursor: pointer;
  line-height: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 15px;
  padding-right: 0%;
}

.select-dropdown > li:hover:first-child {
  border-radius: 8px 8px 0px 0px;
}

.select-dropdown > li:hover:last-child {
  border-bottom: 1px solid var(--backgroung-color-low-dark);
  border-radius: 0px 0px 8px 8px;
}

.select-dropdown li:hover {
  background-color: var(--backgroung-color-low-dark);
}

.select-dropdown li:active {
  background-color: var(--backgroung-color-low-dark);
}

@media (max-width: 999px) {
  .dropdown {
    margin-right: 15px;
  }
  .dropdown .dropdown-select {
    width: 12vw;
  }
  .select-dropdown {
    width: 120px;
  }
}

/* SELECTBOX ============================================================================ */

/* TOOLS EDITOR ============================================================================ */
/* ELEMENTS EDITOR =========================================================================*/
.canvas-component-container {
  font-family: Gilroy-Medium;
  display: flex;
}

.canvas-options {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-option-icon {
  color: var(--text-color-sgrey);
  background-color: var(--backgroung-color-low-dark);
  width: 46px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.canvas-component-container .textarea {
  width: 80%;
  background-color: #232739;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid #ffffff63;
  margin: 5px 0px 5px 0px;
  overflow: hidden;
}

/*********************************/

#modalVideo .modal-content {
  background-color: transparent !important;
}

.canvas-component-container .multimedia{
  width: 80%;
  height: 158px;
  background-color: #232739;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid #ffffff63;
  margin: 5px 0px 5px 0px;
  overflow: hidden;
}
/* ELEMENTS EDITOR =========================================================================*/
/* MODAL EDITOR ============================================================================ */
.modal-content {
  background-color: var(--backgroung-color-dark) !important;
  padding: 3% !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-title {
  color: var(--text-color-light);
  font-size: var(--font-size-md);
}

.modal-body-text {
  color: var(--text-color-light);
  font-size: var(--font-size-sm);
}

.modal-body-text span {
  color: var(--text-color-sgrey);
}

.modal-footer {
  border-top: none !important;
}

/*EDITOR**************************/
.purple-content {
  background-color: var(--black-10);
  padding-top: 10px;
  padding-bottom: 10px;
}

.Edit-btn {
  padding: 10px 20px;
  background-color: var(--colorBackgroundDarkSec);
  border: none;
  height: 44px;
  margin: auto;
  opacity: 0;
}

.Edit-btn.move-btn{
  cursor: n-resize;
}

.Edit-btn:hover {
  filter: brightness(200%);
}

.Editor-content {
  display: flex;
  padding-bottom: 30px;
}

.Editor-content:hover .Edit-btn , .Editor-content:hover .Edit-dropbtn {
  opacity: 1;
}

.Editor-content button, .Editor-container  {
  display: inline-grid;
}

.Editor-container {
  width: calc(100% - 115px);
  max-width: calc(100% - 115px);
  margin: auto;
  position: relative;
}

.Edit-area {
  width: 98%;
  margin: auto;
}

.Editor-container textarea {
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: var(--backgroung-color-dark);
  padding: 12px;
}

.Editor-container textarea:focus {
  outline: none !important;
  border: 1px solid var(--colorLight);
  background-color: var(--colorBackgroundDarkSec);
}

.Editor-container iframe[title="video"] {
  width: 100%;
  height: calc(62vw/1.77);
}

.Editor-container iframe {
  margin: auto;
}

.Edit-dropdown-content {
  margin: auto;
  width: 56px;
}

.Edit-dropbtn {
  padding: 10px 20px;
  background-color: var(--colorBackgroundDarkSec);
  border: none;
  height: 44px;
  margin: auto;
  filter: brightness(110%);
  opacity: 0;
}

.Edit-dropdown {
  position: relative;
  display: inline-grid;
  filter: brightness(100%);
}

.Edit-dropdown-container {
  display: none;
  position: absolute;
  background-color: var(--colorBackgroundDarkSec);
  min-width: 127px;
  z-index: 10;
  top: 43px;
  border-radius: 6px;
}

.Edit-dropdown-container a {
  color: var(--colorLight);
  padding: 10px 0px;
  text-decoration: none;
  display: block;
  position: relative;
  filter: brightness(50%);
  border-radius: 6px;
}

.Edit-dropdown-container span {
  display: inline;
  position: absolute;
  color: var(--colorLight);
}

.Edit-dropdown-container a:hover {
  background-color: var(--colorBackgroundDarkSec);
  filter: brightness(200%);
  color: var(--colorLight);
}

.Edit-dropdown:hover .Edit-dropdown-container {
  display: block;
}

.Edit-dropdown:hover .Edit-dropbtn {
  background-color: var(--colorBackgroundDarkSec);
}

.Edit-dropbtn:hover {
  background-color: var(--colorBackgroundDarkSec) !important;
  filter: brightness(200%) !important;
}

/*********************************/
div[disabled] {
  pointer-events: none;
  opacity: 0.7;
  margin-top: 45px;
}
