@font-face {
  font-family: Roboto-Bold;
  src: url("/fonts/Roboto-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Icons;
  src: url("/fonts/IconosFuenteNTT.otf");
}

:root {
  --blue: #6785c1;
  --black: #0d0c22;
  --gray: #6e6d7a;
  --white-20: #e7e7e9;
  --white-10: #f3f3f4;
  --white: #ffffff;
  --red: #ff5555;

  --colorPrimary: var(--blue); /* color corporativo */
  --colorPrimaryDark: var(--black); /* Iconos y texto primario */
  --colorSecondary: var(--gray); /* Iconos y texto secundario */
  --colorLight: var(--white); /* Iconos, textos y fondos claros */
  --colorLightFaint: var(--white-20); /* Contornos y subrayados */
  --colorItemBg: var(--white-10); /* Fondo no blanco */
  --colorError: var(--red); /* Indicadores de error */

  --text-color-dark: var(--black);
  --text-color-light: var(--white);
  --text-color-secondary: var(--gray);
  --text-color-highlight: var(--blue);

  --btnBorderRadius: 7px;
  --inputBorderRadius: 7px;

  --font-bold: Roboto-Bold;
  --font-regular: Roboto-Regular;

  --font-size-xl: 3.5rem; /* 56px */
  --font-size-lg: 1.75rem; /* 28px */
  --font-size-md: 1rem;  /* 16px */
  --font-size-sm: 0.875rem; /* 14px */

  --icon-size-sm: 1rem; /* 16px */
}

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-regular), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Global styles */

.main-container {
  width: 100%;
  min-height: 100vh;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.background-gray {
  background-color: var(--colorItemBg);
}

/* TEXT */

.title-xl {
  font-family: var(--font-bold);
  font-size: var(--font-size-xl);
  color: var(--text-color-dark);
}

.title {
  font-family: var(--font-bold);
  font-size: var(--font-size-lg);
  color: var(--text-color-dark);
}

.subtitle {
  font-family: var(--font-bold);
  font-size: var(--font-size-md);
  color: var(--text-color-dark);
}

.text-md {
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  color: var(--text-color-dark);
}

.text-sm {
  font-family: var(--font-regular);
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
}

.text--theme-light {
  color: var(--text-color-light);
}

.text--theme-highlight {
  color: var(--text-color-highlight);
}

.icon {
  font-family: Icons;
  font-size: var(--icon-size-sm);
  color: var(--text-color-dark);
}

.icon--theme-secondary {
  color: var(--text-color-secondary);
}

.icon--theme-highlight {
  color: var(--text-color-highlight);
}

/* BUTTON */

.button {
  background-color: var(--btnBgPrimary);
  border: 0;
  border-radius: var(--btnBorderRadius);
  color: var(--btnTextPrimary);
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  letter-spacing: -0.4px;
  min-height: 38px;
}

.button--theme-primary {
  color: var(--colorLight) !important;
  background-color: var(--colorPrimary);
}

.button--theme-secondary {
  color: var(--colorPrimaryDark);
  background-color: var(--colorItemBg);
}

.button:active {
  filter: brightness(85%);
}

.input {
  height: 38px;
  background-color: var(--colorItemBg);
  border: 0;
  color: var(--colorSecondary);
  font-family: var(--font-regular);
  font-size: var(--font-size-sm);
  border: 1px solid transparent;
  border-radius: var(--inputBorderRadius);
  padding: 0.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.input:focus {
  background-color: var(--colorLight);
  outline: none;
  border: 1px solid var(--colorPrimary);
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input__icon {
  width: 2.5rem;
  height: 38px;
  background-color: var(--colorItemBg);
  border: 1px solid transparent;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}

.input-container .input {
  border-top-left-radius: var(--inputBorderRadius);
  border-bottom-left-radius: var(--inputBorderRadius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 0.5rem;
  padding-right: 0rem;
}

.input-container .input:focus {
  border: 1px solid var(--colorPrimary);
  border-right: 0;
}

.input-container .input:focus~.input__icon {
  background-color: var(--colorLight);
  border: 1px solid var(--colorPrimary);
  border-left: 0;
}

.input-container .input__icon {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--inputBorderRadius);
  border-bottom-right-radius: var(--inputBorderRadius);
}

.select {
  height: 38px;
  background-color: var(--colorItemBg);
  border: 0;
  color: var(--colorSecondary);
  font-family: var(--font-regular);
  font-size: var(--font-size-sm);
  border: 1px solid transparent;
  border-radius: var(--inputBorderRadius);
  padding: 0.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.select:focus {
  background-color: var(--colorLight);
  outline: none;
  border: 1px solid var(--colorPrimary);
}
.option:active{
  background-color: #ff5555 !important;
}

.selectMultiple {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}
.selectMultiple select {
  display: none;
}
.selectMultiple > div {
  position: relative;
  z-index: 2;
  padding: 8px 12px 2px 12px;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  min-height: 44px;
  border: 1px solid var(--colorLightFaint);
}
.selectMultiple > div .arrow {
  right: 1px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 28px;
  position: absolute;
}
.selectMultiple > div .arrow:before, .selectMultiple > div .arrow:after {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-bottom: 8px solid var(--colorSecondary);
  top: 43%;
  transition: all 0.3s ease;
}
.selectMultiple > div .arrow:before {
  right: 12px;
  transform: rotate(-130deg);
}
.selectMultiple > div .arrow:after {
  left: 9px;
  transform: rotate(130deg);
}
.selectMultiple > div span {
  color: var(--colorSecondary);
  display: block;
  position: absolute;
  left: 12px;
  cursor: pointer;
  top: 8px;
  line-height: 28px;
  transition: all 0.3s ease;
}
.selectMultiple > div span.hide {
  opacity: 0;
  visibility: hidden;
  transform: translate(-4px, 0);
}
.selectMultiple > div a {
  position: relative;
  padding: 0 24px 6px 8px;
  line-height: 28px;
  color: var(--colorSecondary) !important;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 0 0;
  text-decoration: none;
}
.selectMultiple > div a em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}
.selectMultiple > div a:before {
  content: '';
  left: 0;
  top: 0;
  bottom: 6px;
  width: 100%;
  position: absolute;
  display: block;
  background: var(--colorLightFaint);
  z-index: -1;
  border-radius: 4px;
}
.selectMultiple > div a i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 28px;
  display: block;
}
.selectMultiple > div a i:before, .selectMultiple > div a i:after {
  content: '';
  display: block;
  width: 2px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--colorSecondary);
  border-radius: 1px;
}
.selectMultiple > div a i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.selectMultiple > div a i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.selectMultiple > div a.notShown {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.selectMultiple > div a.notShown:before {
  width: 28px;
  transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}
.selectMultiple > div a.notShown i {
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}
.selectMultiple > div a.notShown em {
  opacity: 0;
  transform: translate(-6px, 0);
  transition: all 0.4s ease 0.3s;
}
.selectMultiple > div a.notShown.shown {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown:before {
  width: 100%;
}
.selectMultiple > div a.notShown.shown i {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown em {
  opacity: 1;
  transform: translate(0, 0);
}
.selectMultiple > div a.remove:before {
  width: 28px;
  transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}
.selectMultiple > div a.remove i {
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.selectMultiple > div a.remove em {
  opacity: 0;
  transform: translate(-12px, 0);
  transition: all 0.4s ease 0s;
}
.selectMultiple > div a.remove.disappear {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.selectMultiple > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  transform: translate(0, 20px) scale(0.8);
  transform-origin: 0 0;
  transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
}
.selectMultiple > ul li {
  color: var(--colorSecondary);
  text-decoration: none;
  background: #fff;
  padding: 12px 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s, opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
}
.selectMultiple > ul li:first-child {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li:first-child:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li:last-child {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li:last-child:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li:hover {
  background: var(--colorLightFaint);
  color: var(--colorSecondary);
}
.selectMultiple > ul li:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: var(--colorLightFaint);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%, -50%);
  transform-origin: 50% 50%;
}
.selectMultiple > ul li.beforeRemove {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li.beforeRemove:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li.afterRemove {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li.afterRemove:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li.remove {
  transform: scale(0);
  opacity: 0;
}
.selectMultiple > ul li.remove:after {
  animation: ripple 0.4s ease-out;
}
.selectMultiple > ul li.notShown {
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.4s ease;
}
.selectMultiple > ul li.notShown.show {
  transform: scale(1);
  opacity: 1;
}
.selectMultiple.open > div .arrow:before {
  transform: rotate(-50deg);
}
.selectMultiple.open > div .arrow:after {
  transform: rotate(50deg);
}
.selectMultiple.open > ul {
  transform: translate(0, 12px) scale(1);
  opacity: 1;
  visibility: visible;
  border: 1px solid var(--colorLightFaint);
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
 }
  25% {
    transform: scale(30, 30);
    opacity: 1;
 }
  100% {
    opacity: 0;
    transform: scale(50, 50);
 }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}
.Btn-outline-light {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #6E6D7A;
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  padding: 10px 40px;
  color: var(--white);
}

.Btn-outline-light:hover {
  background-color: #ffffff2f;
}

/*EMBLA CAROUSEL*/

.embla {
  position: relative;
  overflow: hidden;
  padding: 20px;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.embla__container {
  display: flex;
  max-width: 350px;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 50%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 190px;
}

.embla__viewport {
  overflow: hidden;
  max-width: 1050px;
  margin: auto;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: url(/images/cursor.cur);
}

.embla__viewport.is-dragging {
  cursor: url(/images/cursor.cur);
}

/*******************/

/* SEARCH INPUT =========================== */
.input-group-text{
  background-color: #F3F3F4;
  border: 1px solid #E7E7E9;
}
/* =========================== */

/* WORLD MAP ============================================================================ */
.observablehq--collapsed,
.observablehq--expanded,
.observablehq--function,
.observablehq--gray,
.observablehq--import,
.observablehq--string:after,
.observablehq--string:before,
.observablehq--inspect {
  display: none !important;
  color:#1b1e23;
}
/* WORLD MAP ============================================================================ */
