/*
  Estilos exclusivos de una sola página o componente se añaden en un módulo de CSS
*/

.centered {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_no_padd {
  padding: 0;
}

.content_title {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  min-height: 765px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.content_title::after {
  content: "";
  background-image: linear-gradient(
    to bottom,
    var(--contentTransparentRGB),
    var(--colorItemBg) 100%
  );
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(100%);
}

.marginNoArticles {
  position: relative;
  margin-top: 35%;
}

.content_title_section {
  position: relative;
  margin-top: 18%;
  z-index: 1;
}

.content_more {
  margin-top: 60px;
}

.content_goto {
  vertical-align: middle;
  display: flex;
}

.content_goto div {
  margin: auto;
  margin-right: 0;
}

.help_img {
  width: 100%;
  max-width: 380px;
}

.expert_img {
  text-align: center;
}

.expert_img img {
  max-width: 480px;
  margin: auto;
}

.content_centered {
  text-align: center;
}

.content_margin {
  margin-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
}

.content_left {
  text-align: left;
}

.buton_m {
  margin-right: 20px;
}

.number_option {
  font-style: normal;
}

.number_option.non {
  color: var(--text-color-secondary);
}

.number_option.active {
  color: var(--text-color-light);
}

.iconOutline {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.875rem;
}

.faintOutlineSuccess {
  background-color: var(--green-20);
}

.faintOutlineYellow {
  background-color: var(--colorWarningTransp);
}

.faintOutlinePrimary {
  background-color: var(--cyan-20);
}

.largeIcon {
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  .content_title_section {
    margin-top: 200px;
  }
  .content_title {
    background-size: auto 100%;
  }
  .help_img {
    max-width: 100%;
  }
  .expert_img img {
    max-width: 20rem;
    margin: auto;
  }
  .margin_movil_y {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 990px) {
  .content_margin {
    margin-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }
  .content_goto div {
    margin: auto;
  }
  .margin_movil_y {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .content_left {
    text-align: center;
  }
  .marginNoArticles {
    position: relative;
    margin-top: 75% !important;
  }
}

@media (max-width: 576px) {
  .content_title::after {
    content: "";
    height: 100%;
    max-height: max-content;
  }
  .content_goto div {
    margin: auto;
    margin-bottom: 30px;
  }
  .content_left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
