/*
  Estilos exclusivos de una sola página o componente se añaden en un módulo de CSS
*/
.centered {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
