.contentHeight {
  height: 700px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .btnTool {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 380px) {
  .btnTool {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.containerInner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modalInner {
  width: 100%;
  padding: 2rem 1.5rem;
}
.accordion {
  width: 100% !important;
}

@media (max-width: 575.98px) {
  .modalInner {
    width: 100%;
    padding: 2rem 0rem;
  }
}
