.contentHeight {
  height: 700px;
}

.textureBg {
  background: url("/images/resourses/TexturaFondo.png"), var(--colorPrimaryDark);
  background-repeat: no-repeat;
  background-position: center top;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .btnTool {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 380px) {
  .btnTool {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.containerInner {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 575.98px) {
  .modalInner {
    width: 100%;
    padding: 2rem 0rem;
  }
}
