.content_no_padd {
  padding: 0;
}

.content_title {
  background-color: var(--colorPrimaryDark);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  min-height: 765px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.cursorPointer {
  cursor: pointer !important;
}
.content_title::after {
  content: "";
  background-image: linear-gradient(to bottom, var(--contentTransparentRGB), var(--colorItemBgRGB) 95%);
  position: absolute;
  max-height: 765px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(100%);
}

.content_title_video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 1250px;
  z-index: 0;
  overflow: hidden;
  align-self: center;
  object-fit: cover;
}

.content_title_text {
  margin-top: 20%;
  z-index: 1;
}

.content_title_text h1, .content_title_text h5 {
  margin-top: 20px;
}

.content_m_text {
  margin-left: 105px;
}

.content_mr_text {
  margin-right: 105px;
}

.content_m_img {
  margin-left: 105px;
}

.content_mt_sect {
  margin-top: 90px;
}

.content_pt_sect {
  padding-top: 90px;
  padding-bottom: 90px;
}

.content_pb_sect {
  padding-bottom: 90px;
}

.content_video {
  position: relative;
  background-image: url('/images/resourses/PortadaVideoHome.png');
  border-radius: 28px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 720px;
  text-align: center;
  z-index: 0;
}

.content_video::after {
  content: "";
  background-image: linear-gradient(to bottom, var(--contentTransparentRGB), var(--colorItemBgRGB) 95%);
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}

.content_video > div {
  position: relative;
  z-index: 1;
}

.content_map {
  text-align: center;
  background-color: var(--colorLight);
}

.content_map_text {
  margin: auto;
  display: flex;
  align-items: center;
  /* margin-left: 105px; */
  height: 100%;
  /* margin-top: 140px; */
  text-align: left;
}

.content_map canvas {
  max-width: 100%;
}

.content_map_canvas {
  display: flex;
  align-items: center;
  height: 400px;
  /* max-width: 475px; */
  /* min-height: 475px; */
  /* margin-top: 85px; */
  /* margin-bottom: 50px; */
}

.content_icon {
  border: none;
  border-radius: 65px;
  position: relative;
  width: 80px;
  height: 80px;
  display: inline-block;
}

.content_icon span {
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 47px;
  height: 72px;
  margin: auto;
}

.pink_icon {
  background-color: var(--magenta-20);
}

.pink_icon span {
  color: var(--magenta);
}

.green_icon {
  background-color: var(--colorSuccessTransp);
}

.green_icon span {
  color: var(--colorSuccess);
}

.title_disp_text {
  display: inline-block;
  /* margin-bottom: 24px; */
  /* top: -30px; */
  position: relative;
  white-space: nowrap;
  /* margin-left: 10%; */
}

.image_1 {
  max-width: 475px;
  min-height: auto;
  margin: auto;
}

.image_2 {
  max-width: 475px;
}

.container_carousel {
  max-width: 20rem;
  min-height: 13rem;
  max-height: 13rem;
  display: flex;
  background-color: white;
  margin-left: 1rem;
  padding-left: 0 !important;
  align-items: center;
}

.image_carousel {
  max-width: 100%;
}

.content_carousel {
  text-align: center;
  padding-top: 90px;
}

.content_v_a_m {
  position: absolute;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto;
  z-index: 1;
}

.content_observatory {
  background-image: url('/images/resourses/TexturaFondoInversa.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  min-height: 765px;
  position: relative;
}

.content_observatory::after {
  content: "";
  position: absolute;
  max-height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(80%);
}

.image_content {
  z-index: 1;
  position: relative;
}

@media(max-width: 1400px) {
  .content_m_img {
    margin-left: 0;
  }
  .margin_text_mapa {
    margin-right: 20% !important;
    margin-left: 20% !important;
  }
}

@media(min-width: 1400px) {
  .margin_text_mapa {
    margin-right: 20% !important;
    margin-left: 20% !important;
  }
 }

@media(max-width: 991px) {
  .content_title {
    background-size: auto 100%;
  }
  .content_m_text {
    margin-left: 0;
    text-align: justify;
    z-index: 2;
  }
  .content_title_text {
    margin: auto;
    margin-top: 20%;
    text-align: center;
  }
  .content_mr_text {
    margin-right: 0;
    text-align: justify;
  }
  .content_video {
    background-size: auto 100%;
  }
  .image_content {
    text-align: center;
  }
  .image_1 {
    width: auto;
    max-width: 100%;
    height: auto;
    min-height: 100%;
    margin: auto;
  }
  .image_2 {
    max-width: 100%;
    margin: auto;
  }
  .content_v_a_m {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
  }
  .content_map_text {
    margin-left: 0;
    /* margin-top: 50px; */
  }
  /* .content_map_canvas { */
    /* max-width: 360px; */
    /* max-height: 600px; */
    /* margin: auto; */
  /* } */
  .content_observatory {
    background-size: 100% auto;
  }
  .content_title_video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-width: auto;
    overflow: hidden;
    align-self: center;
    object-fit: cover;
  }
  .margin_text_mapa {
    margin: 0 !important;
  }
  .movil_text_align {
    text-align: center !important;
  }
}

@media(max-width: 576px) {
  .content_map {
    z-index: 2;
  }
  .content_map canvas {
    margin-top: -96px;
    margin-bottom: -130px;
    z-index: 1;
  }
  /* .content_map_canvas { */
    /* margin-top: -255px; */
    /* margin-bottom: 70px; */
  /* } */
  .content_title_text {
    margin-top: 200px;
  }
  .content_title {
    height: auto;
    min-height: 720px;
  }
  .content_title::after {
    height: 100%;
    max-height: 100%;
    min-height: 720px;
  }

  /* delete this when mobile desing was ready */
  .content_no_padd h1 {
    font-size: 220%;
  }
  .content_no_padd h6 {
    font-size: 140%;
  }
  .content_no_padd p {
    font-size: 100%;
  }
  /*###########################################*/
  .margin_text_mapa {
    margin: 0 !important;
  }
  .movil_text_align {
    text-align: center !important;
  }
}

@media(max-width: 380px) {
  .content_map canvas {
    margin-top: -150px;
    margin-bottom: -220px;
    z-index: 1;
  }
  .margin_text_mapa {
    margin: 0 !important;
  }
  .movil_text_align {
    text-align: center !important;
  }
}
