.bannerImage {
  height: 80vh;
  width: 100%;
  background-image: url("/images/imgpr2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  padding-left: 15%;
}

.marginT {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 999px) {
  .bannerImage{
    font-size: 40px;
  }
}
