.bannerImage {
  height: 80vh;
  width: 100%;
  display: grid;
  align-items: center;
  padding-left: 15%;
  position: relative;
}

.bannerTitle {
  z-index: 3;
}

.centeredTitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pageSwitch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  margin-bottom: 1rem;
}

.topPadding {
  padding-top: 7rem;
}

.switchTag {
  color: var(--text-color-secondary);
  transition: color 0.3s;
  cursor: pointer;
}

.switchTag.active {
  color: var(--text-color-light);
}

.marginT {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .centeredTitle {
    width: 80%;
  }
}

@media (max-width: 991.98px) {
  .bannerImage {
    font-size: 40px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8%;
  }
}

@media (max-height: 649.98px) {
  .bannerImage {
    min-height: 100vh;
    height: fit-content;
    padding-top: 10%;
  }
}

@media (max-width: 575.98px) {
  .centeredTitle {
    padding: 0 10%;
    width: 100%;
  }
}
