image: node:16.13.0

before_script:
  - yarn install

stages:
  - integration-code

lint:
  stage: integration-code
  script:
    - yarn lint

build:
  stage: integration-code
  script:
    - yarn build
