.trendingSelect {
  background-color: var(--colorPrimaryDark) !important;
  width: 200px;
  border: none;
  color: var(--colorSecondary);
  border: 2px solid var(--colorItemBorder);
  border-radius: 7px;
  font-size: var(--font-size-sm) !important;
  cursor: pointer;
}

