.profileSettingsOptions {
  display: grid;
  text-align: left;
}

.optionsContent {
  display: flex;
  align-items: center;
  color: var(--colorSecondary);
  transition: 0.5s;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 0px;
}

.optionsContent span {
  margin-right: 10px;
  transition: 0.5s;
}

.optionsContent:hover {
  color: var(--colorLight);
}

.optionsContent:hover span {
  color: var(--colorLight);
}

.active {
  color: var(--colorLight);
}

.active span {
  color: var(--colorLight);
}

@media (max-width: 991px) {
  .profileSettingsOptions {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 2rem;
  }
  .optionsContent {
    display: inline-flex;
    margin-right: 20px;
  }
}

@media (max-width: 540px) {
  .optionsContent {
    display: flex;
  }
}
