.container {
  justify-content: center;
  align-items: center;
  height: 12rem;
  text-align: center;
  margin: 3rem 1rem 5rem 1rem;
}

.container_icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--colorSuccessTransp);
  border-radius: 50%;
}

.container_icon > span {
  position: relative;
  top: 13%;
  left: 1px;
}

.container_icon_error {
  width: 3rem;
  height: 3rem;
  background-color: var(--orange-20);
  border-radius: 50%;
}

.container_icon_error > span {
  position: relative;
  top: 13%;
  left: 1px;
}
