.editor {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorContent {
  background-color: var(--blackEditor);
  position: relative;
  display: grid;
  min-height: 100vh;
  width: 76%;
  padding-top: 60px;
  margin-top: 8%;
  margin-bottom: 8%;
  padding-bottom: 12%;
  border-radius: 0px;
  overflow: hidden;
  padding-right: 150px;
  padding-left: 150px;
}

.editorContentPreview {
  background-color: var(--blackEditor);
  position: relative;
  width: 76%;
  overflow: hidden;
}

.returnButton {
  position: absolute;
  margin-top: 8%;
  left: 7vw;
  top: 0;
}

.optionsContainer {
  position: absolute;
  top: 0;
  margin-top: 8%;
  right: 7vw;
  z-index: 0;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.optionsItem:nth-child(n) {
  margin-bottom: 12px;
}

.optionsItem:last-child {
  margin-bottom: 0;
}

.addBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  border: 1px dashed var(--colorPrimary);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btnNew {
  background-color: var(--contentTransparentRGB);
  border: none;
  padding: 0.5rem;
}

.btnNew:active {
  color: var(--colorPrimary);
}

.centered {
  text-align: center;
}

.author_pict {
  border-radius: 50px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.unitIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--blue);
  border-radius: 50%;
  margin-right: 1rem;
}

.lessonIndex {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--gray);
  margin-right: 1rem;
}

.cursorLesson:hover {
  cursor: pointer;
}

.btnFirst {
  display: flex;
  justify-content: flex-start;
}

.btnSecond {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 999px) {
  .optionsContainer {
    right: 3vw;
  }
}
