.switch {
  width: 100%;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 16px;
  color: var(--text-color-light);
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switchBg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 8px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: var(--switchSlide);
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--switchBgActive);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--white);
}

input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
  background-color: var(--switchSlideActive);
}

.inverted .switch {
  color: var(--text-color-light);
}

/* The slider */
.inverted .slider {
  background-color: var(--switchBgActive);
}

.inverted .slider:before {
  background-color: var(--switchSlideActive);
}

.inverted input:checked + .slider {
  background-color: var(--switchBg);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--white);
}
