.optionsContainer {
  position: relative;
}

.list_content {
  display: none;
  position: absolute;
  z-index: 2;
  padding-top: 0.5rem;
  right: 0;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
}

.optionsContainer:hover .list_content {
  display: block;
}

@media (max-width: 999.92px) {
  .hideMobile {
    display: none;
  }
}
