.container {
  width: 45rem; /*720 px*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 8.5rem;
}

.centered {
  text-align: center;
}

.author_pict {
  border-radius: 50px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.unitIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--blue);
  border-radius: 50%;
  margin-right: 1rem;
}

.lessonIndex {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--gray);
  margin-right: 1rem;
}

.cursorLesson:hover {
  cursor: pointer;
}

.btnFirst {
  display: flex;
  justify-content: start;
}

.btnSecond {
  display: flex;
  justify-content: end;
}

@media (max-width: 767.98px) {
  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
