.container {
  width: 30rem;
  min-height: 20rem;
  background-color: var(--colorItemBg);
  padding: 2rem;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.error {
  display: block;
  margin-bottom: 1rem;
  color: var(--text-color-error);
}

@media screen and (min-width: 576px) {
  .container {
    padding: 60px;
  }
}
