.listHeader {
  position: relative;
  border: 1px solid var(--contentTransparentRGB);
  margin-bottom: 2rem;
  padding: 0.875rem;
}

.indexCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.75rem;
  height: 3.75rem;
  background-color: var(--colorPrimaryActive);
  border-radius: 50%;
  margin-right: 1rem;
}

.titleInput {
  /* width: max-content; */
  background-color: var(--contentTransparentRGB);
  border: none;
  color: var(--text-color-light);
  font-size: var(--font-size-lg);
  font-family: var(--font-regular);
  height: 3rem;
}

.btn {
  align-items: center;
  background-color: var(--colorPrimary);
  border: none;
  color: var(--colorLight);
  display: flex;
  font-family: Icons;
  justify-content: center;
  width: 46px;
  height: 2.5rem;
}

.move {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  top: 1.5rem;
  width: 3.5rem;
  left: -3.5rem;
  opacity: 0;
}

.edit {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 1.5rem;
  width: 3.5rem;
  right: -3.5rem;
  z-index: 10;
  opacity: 0;
}

.listHeader:hover {
  border: 1px solid var(--colorLight);
}

.listHeader:hover .move,
.listHeader:hover .edit {
  opacity: 1;
}
