.container {
  display: flex;
  align-items: center;
  height: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.outline {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--colorItemBorder);
  display: flex;
  align-items: center;
}

.btn {
  align-items: center;
  background-color: var(--colorPrimary);
  border: none;
  color: var(--colorLight);
  display: flex;
  font-family: Icons;
  justify-content: center;
  width: 46px;
  height: 2.5rem;
  opacity: 0;
}

.move {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 3.5rem;
  left: -3.5rem;
}

.edit {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 3.5rem;
  right: -3.5rem;
}

.editDropdown {
  position: absolute;
  top: 100%;
  left: 0.7rem;
  visibility: hidden;
  z-index: 5;
}

.container:hover .btn {
  opacity: 1;
}

.container:hover .outline {
  border: 1px solid var(--colorLight);
}

.container:hover .outline p,
.container:hover .outline span {
  color: var(--text-color-light);
}

.edit:hover .editDropdown {
  visibility: visible;
}
