.container {
  width: 30rem;
  min-height: 15rem;
  background-color: var(--colorItemBg);
  padding: 2rem;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.container > div {
  z-index: 2;
  position: relative;
}

.link {
  color: var(--text-color-highlight);
  text-decoration: none;
}

.floatRight {
  display: block;
  /* float: right; */
}

.link:hover {
  color: var(--text-color-highlight);
  text-decoration: underline;
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.error {
  display: block;
  margin-bottom: 1rem;
  color: var(--text-color-error);
}

@media screen and (min-width: 576px) {
  .container {
    padding: 60px;
    min-height: 30rem;
  }
  .floatRight {
    float: right;
  }
}
