.container {
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.headerNote {
  height: 2rem;
}

.hoverMouse {
  cursor: pointer;
}

.date {
  color: var(--colorSecondary);
  font-size: var(--font-size-sm);
}

.title_note {
  color: var(--colorLight);
}

.desc_note {
  color: var(--colorLight);
  font-size: var(--font-size-md);
}

.button_dropdown_content {
  background-color: transparent !important;
}

.button_dropdown {
  background-color: transparent !important;
  margin: 0 !important;
  border: 0px solid var(--colorItemBorder) !important;
}

.button_dropdown > button {
  border: 0px solid var(--colorItemBorder);
  border-radius: 0px;
  width: 2.5rem;
  height: 2rem;
  padding: 0;
  position: relative;
  font-family: Icons;
  font-size: var(--icon-size-sm);
  color: var(--colorSecondary) !important;
  justify-content: end !important;
  background-color: transparent !important;
}

.button_dropdown > button::after {
  display: none !important;
}

.button_dropdown > div {
  opacity: 1 !important;
  padding: 0;
  background-color: var(--colorItemBg);
  border-radius: 0px;
  min-width: 8rem;
}

.button_dropdown > div .item_dropdown {
  border: 1px solid var(--colorItemBorder);
  font-size: var(--font-size-sm) !important;
  color: var(--colorSecondary) !important;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.button_dropdown > div .item_dropdown:active {
  background-color: var(--colorSecondary);
  border-radius: 0px;
  color: white !important;
}

.button_dropdown > div .item_dropdown:hover {
  border-radius: 0px;
  background-color: var(--colorSecondary);
  color: white !important;
}

.button_dropdown > div .item_dropdown:active > * {
  color: white !important;
}

.button_dropdown > div .item_dropdown:hover > * {
  color: white !important;
}

.item_dropdown_text {
  top: 0.2rem;
  margin-left: 0.5rem;
  position: relative;
}

.link_tool {
  cursor: pointer;
}


/***********modal *******/
.container_icon {
  top: -0.5rem;
  position: relative;
  color: var(--blue);
}

.text_modal {
  line-height: 0.5rem !important;
}

.textarea {
  color: var(--text-color-light);
}

.textarea::placeholder {
  color: var(--text-color-light);
}

.textarea:focus {
  background-color: transparent !important;
}

.selectedHover {
  display: block;
}

.selected {
  display: none;
}


@media (max-width: 1024px) {
  .selectedHover {
    display: none;
  }

  .selected {
    display: block;
  }
}
