.filterContainer {
  position: relative;
  width: max-content;
  max-width: 70%;
  height: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
}

.filterOpacity1,
.filterOpacity2 {
  position: absolute;
  height: 100%;
  width: 4.5vw;
  top: 0;
  z-index: 1;
}

.filterOpacity1 {
  background: rgb(13, 12, 34);
  background: linear-gradient(
    90deg,
    rgba(13, 12, 34, 1) 0%,
    rgba(13, 12, 34, 0.2049194677871149) 100%
  );
  left: 0%;
}

.filterOpacity2 {
  background: rgb(13, 12, 34);
  background: linear-gradient(
    270deg,
    rgba(13, 12, 34, 1) 0%,
    rgba(13, 12, 34, 0.2049194677871149) 100%
  );
  right: 0%;
}

.filters {
  position: relative;
  height: auto;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE 11 */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox 64 */
  /* margin-left: 2rem;
  margin-right: 2rem; */
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter {
  display: inline-block;
  text-align: center;
  color: var(--text-color-secondary);
  border: 1px solid var(--colorItemBorder);
  border-radius: 1.25rem;
  min-width: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  margin-left: 1%;
  cursor: pointer;
  transition: 0.5s;
}

.filter:first-child {
  margin-left: 4rem;
}

.filter:last-child {
  margin-right: 4rem;
}

.filter:hover,
.current {
  background-color: var(--colorSecondary);
  border: 1px solid var(--colorSecondary);
  color: var(--text-color-light);
}

.filter div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DRAG SCROLL CLASS ================0 */

.active .filter {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

/* DRAG SCROLL CLASS ================0 */

@media (max-width: 991.98px) {
  .filterContainer {
    max-width: 100%;
  }

  .filterOpacity1 {
    left: 0%;
  }

  .filterOpacity2 {
    right: 0%;
  }
}
