.content_title {
  padding-left: 10px;
}

.full_form, .half_form {
  margin-top: 15px;
}

.full_form div {
  position: relative;
}

.full_form div, .half_form div {
  padding-left: 10px;
  padding-right: 10px;
}

.full_form label, .full_form input, .half_form label, .half_form input {
  margin-top: 6px;
  margin-bottom: 6px;
}

.full_form button, .half_form button {
  margin-top: 5px;
  margin-bottom: 20px;
  float: right;
}

.half_form div {
  width: 50%;
  max-width: 50%;
  display: inline-block;
  position: relative;
}

.content_success {
  color: var(--colorSuccess);
  background-color: var(--colorSuccessTransp);
  margin: auto;
  text-align: center;
  max-width: 420px;
  padding: 10px;
  border-radius: 50px;
  height: 45px;
}

.content_faild {
  color: var(--colorError);
  background-color: var(--contentTransparentRGB);
  margin: auto;
  text-align: center;
  max-width: 420px;
  padding: 0px;
  margin-bottom: 5px;
  border-radius: 50px;
  height: 45px;
}

.half_form .content_faild {
  width: 100%;
  max-width: 100%;
}

.content_messsage {
  width: 100% !important;
  max-width: 100% !important;
  display: block;
}

.proff_loading {
  display: inherit;
  position: absolute;
  right: 222px;
  top: 19px;
}

@media(max-width: 576px) {
  .half_form div {
    width: 100%;
    max-width: 100%;
    display: block;
  }
}
