.container {
  width: 45rem; /*720 px*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 8.5rem;
}

@media (max-width: 767.98px) {
  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
