.profilePostsContainer{
  height: 50vh;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profilePostsImg{
  width: 120px;
  margin-bottom: 15px;
}

.profilePostsButton{
  margin-top: 20px;
}
