.content_tool {
  padding-top: 150px;
}

.content_tool.no_top {
  padding-top: 0;
}

.content_back_img {
  background-image: url(/images/think-tools/Fondo-textura.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding-bottom: 50px;
}

.content_tool .centered {
  text-align: center;
}

.content_tool img {
  max-width: 100%;
  justify-content: center;
}

.content_tool iframe {
  max-width: 100%;
  justify-content: center;
}

.doots {
  color: var(--colorPrimary);
  font-size: var(--font-size-lg);
  margin-left: 5%;
  margin-right: 5%;
  display: inline-flex;
  position: relative;
  top: -14px;
}

.content_tool_title {
  margin-top: 50px;
}

.content_inspired {
  margin-top: 50px;
}

.content_inspired .right {
  text-align: right;
}

.content_info_tool iframe {
  margin: auto;
  display: block;
}

.content_info_tool p {
  font-family: var(--font-regular);
  font-size: var(--font-size-md);
  color: var(--text-color-light);
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content_title_use {
  margin-top: 50px;
}

@media (max-width: 991px) {
  .content_back_img {
    background-size: cover;
    background-position: left;
  }
}

@media (max-width: 576px) {
  .doots {
    margin-left: 1%;
    margin-right: 1%;
  }
}
