.content_loading {
  width: 33px;
  margin: auto;
}

.content_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline;
}

.content_ul li {
  display: inherit;
  padding: 5px 8px;
  background-color: var(--colorItemBg);
  margin-right: 10px;
}

.content_ul.social li, .content_ul.social a {
  background-color: var(--contentTransparentRGB);
  font-size: 110%;
}

.content_ul.social a {
  max-width: 20px;
}

@media(max-width: 991px) {
  .content_ul {
    display: inline-block;
  }
  .content_ul li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .content_ul.social {
    display: inline-block;
  }
  .content_ul.social a {
    display: inline-block;
  }
}
