.content_loading {
  width: 33px;
  margin: auto;
}

.content_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline;
}

.listItem {
  display: inherit;
  padding: 5px 8px;
  background-color: var(--colorItemBgFocused);
  margin-right: 10px;
}

.socialLink {
  display: inline-block;
  margin-right: 0.8rem;
  padding-top: 0.5rem;
}

@media (max-width: 991px) {
  .content_ul {
    display: inline-block;
  }
  .listItem {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .content_ul.social {
    display: inline-block;
  }

  .socialLink {
    padding-bottom: 0.8rem;
  }
}
