.headerContainer {
  align-items: center;
  /* background-image: url("/images/imgpr3.jpg"); */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  min-height: 30rem;
  padding-top: 8.75rem;
  padding-bottom: 4rem;
}

.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgFrame {
  width: 7.5rem;
  height: 7.5rem;
  background-image: url(/images/profile/no-profile-img.png);
  border-radius: 50%;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}
