.headerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 30rem;
  padding-top: 8.75rem;
  padding-bottom: 4rem;
}

.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgFrame {
  width: 7.5rem;
  height: 7.5rem;
  background: var(--colorPrimaryDark);
  border-radius: 50%;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}

@media (max-width: 575.98px) {
  .imgFrame {
    width: 6rem;
    height: 6rem;
  }
}
