.navC {
  position: fixed;
  cursor: pointer;
  height: 6%;
  top: 0;
  width: 100%;
}

.navC:hover .navbar {
  top: 0 !important;
}

.navbar {
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--colorItemBg);
}

.a {
  display: flex;
  margin-right: 5px;
}

.linksContainer {
  width: 100% !important;
}

.divNavItemStyle {
  display: flex;
  align-items: center;
  width: 33.33%;
}

.divNavItemStyle:first-child {
  justify-content: left;
}

.divNavItemStyle:last-child {
  justify-content: flex-end;
}

.divNavItemStyle .inputGroupStyle {
  width: 70% !important;
}

.navInputStyle {
  border-radius: 5%;
  border: 1px solid #e7e7e9;
  background-color: #f3f3f4;
  height: 38px;
}

.navInputStyle::placeholder {
  color: #6e6d7a;
  font-size: 14px;
}

@media (max-width: 990px) {
  .divNavItemStyle {
    width: 70%;
    display: grid;
  }

  .divNavItemStyle:last-child {
    justify-content: left;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}
