.navC {
  position: fixed;
  cursor: pointer;
  height: 6%;
  top: 0;
  z-index: 10;
  width: 100%;
}

.navC:hover .navbar {
  top: 0 !important;
}

.navC:hover .navbarMobile {
  top: 0 !important;
}

.cancelIcon {
  color: var(--colorSecondary);
}

.navbar {
  display: flex !important;
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--colorPrimaryDark) !important;
}

.navbarMobile {
  display: none !important;
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--colorPrimaryDark) !important;
}

.a {
  display: flex;
  margin-right: 5px;
}

.logo {
  position: relative;
  width: 180px;
  height: 60px;
  line-height: 1.8;
}

.linksContainer {
  width: 100% !important;
}

.divNavItemStyle {
  display: flex;
  align-items: center;
  width: 33.33%;
}

.divNavItemStyle a {
  color: var(--text-color-highlight) !important;
}

.divNavItemStyle:first-child {
  justify-content: center;
}

.divNavItemStyle:last-child {
  justify-content: flex-end;
}

.divNavItemStyle .inputGroupStyle {
  width: 70% !important;
}

.navInputStyle {
  border-radius: 10px;
  border: none;
  height: 38px;
}

.navInputStyle:active,
.navInputStyle:focus {
  color: var(--text-color-light);
  border: none;
  font-size: 12px;
}

.navInputStyle::placeholder {
  color: var(--text-color-light);
  font-size: 14px;
}

.navDropDown {
  border: none;
  justify-content: flex-end;
  margin-right: 0 !important;
}

.navDropDownItems {
  display: inline-block;
}

.navDropDownImage > div > img {
  border-radius: 100%;
  padding-right: 0 !important;
  background-color: transparent;
}

.navDropDownImage {
  padding-right: 0 !important;
  padding-left: 1rem !important;
  width: auto !important;
  height: auto !important;
}

.navMobileContentStyle {
  display: inline !important;
}

.buttonRegisterContent {
  width: 8rem;
}

.iconToggleMovil {
  min-width: 5rem;
  max-width: 5rem;
}

.iconToggleExpanded {
  text-align: left !important;
}

.iconToggle {
  text-align: left !important;
}

.iconToggleExpanded:active {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}

.iconToggleExpanded:focus {
  box-shadow: 0 0 0 0rem !important;
}

.iconToggle:active {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}

.iconToggle:focus {
  box-shadow: 0 0 0 0rem !important;
}

.iconToggle > span {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
  margin-right: 0.5rem !important;
}

.iconToggleExpanded > span {
  display: none;
}

.iconToggleExpanded::after {
  font-family: Icons !important;
  font-size: var(--icon-size-sm) !important;
  content: "O" !important;
  color: var(--colorSecondary);
  background-image: none !important;
  margin-right: 0.5rem;
}

.expandenMenuMobile {
  height: 93.5vh;
}

.navDropDownName {
  padding-left: 5px;
  padding-right: 2px;
  width: auto !important;
}

.navDropDownIcon {
  padding: 0 0 0 0;
  width: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.containerFluid {
  flex-wrap: initial !important;
}

@media (max-width: 1350px) {
  .navDropDownImage {
    padding-left: 0.2rem !important;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbarMobile {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1210px) {
  .navDropDownName {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: auto !important;
  }

  .divNavItemStyle:last-child {
    justify-content: space-evenly;
  }
}

@media (max-width: 991px) {
  .divNavItemStyle {
    width: 100%;
    display: grid;
  }

  .navDropDownImage > div {
    display: flex !important;
  }

  .navDropDownImage > div > img {
    max-width: 2.5rem !important;
    min-width: 2.5rem !important;
    min-height: 2.5rem !important;
    max-height: 2.5rem !important;
    position: relative !important;
    object-position: center center;
    padding: 0% !important;
  }

  .divNavItemStyle:last-child {
    justify-content: left;
    text-align: left;
  }

  .navbar {
    display: none !important;
  }

  .navbarMobile {
    display: flex !important;
  }

  .containerFluid {
    display: none;
    flex-wrap: inherit !important;
  }

  .containerFluidExpanded::after {
    display: none;
    flex-wrap: inherit !important;
  }
}

@media (max-width: 768px) {
  .containerFluidMenu {
    display: inline !important;
  }

  .a {
    display: inline;
    align-self: center !important;
    justify-content: center !important;
    margin-right: 0px !important;
  }

  .logo {
    position: relative;
    width: 128px;
    height: 44px;
  }
}

@media (max-width: 345px) {
  .iconToggleMovil {
    min-width: 3rem;
    max-width: 3rem;
  }

  .logo {
    position: relative;
    width: 128px;
    height: 44px;
  }
}
