.lessonIndex {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.75rem;
  height: 3.75rem;
  background-color: var(--gray);
  margin-right: 1rem;
}

.lectionView {
  font-size: 1.5rem;
}

@media (max-width: 575.76px) {
  .lessonIndex {
    min-width: 3.2rem;
    height: 3.2rem;
  }
}
