.articlesContainer {
  height: auto;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}
/*SELECTS ========================================================= */
.selectsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.selectRecent,
.selectFilter {
  height: 60px;
  width: 50%;
  display: grid;
  align-items: center;
}

.selectRecent {
  justify-content: left;
}

.selectFilter {
  justify-content: right;
}
/* ========================================================= */
.cardContainer {
  display: inline-flex;
  flex-direction: column;
  /* height: 450px; */
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3rem;
  cursor: pointer;
}

.cardContainerNotFocus {
  cursor: auto;
}

.cardMargin {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100%;
}

.cardImageContainer {
  position: relative;
}

.trendingLabel {
  position: absolute;
  background-color: var(--colorArticleLabel);
  z-index: 1;
  top: 10px;
  left: 10px;
  min-width: 80px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.premium {
  left: unset;
  right: 10px;
  background-color: var(--colorArticlePremium);
}

.trendingLabel span {
  margin-left: 10px;
}

.image {
  border-radius: 10px;
  display: inline-block;
  height: 18rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.emptyImg {
  width: 100%;
  height: inherit;
  border: 1px solid var(--colorItemBorder);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardLikesContainer {
  display: flex;
}

.cardLikesContainer div {
  width: 30%;
}

.cardLikesContainer div:first-child {
  width: 70%;
}

.likesContainer,
.viewsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likesContainer span,
.viewsContainer span {
  margin-right: 5px;
}

@media (max-width: 999px) {
  .selectsContainer {
    display: grid;
    justify-content: center;
  }

  .selectRecent,
  .selectFilter {
    width: 100%;
  }

  .selectFilter {
    justify-content: center;
  }

  .cardContainer {
    display: grid;
    width: 100%;
    height: 100%;
  }
}

.options {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 2;
}

.optionsMobile {
  z-index: 2;
  display: none;
}

@media (max-width: 991.98px) {
  .options {
    display: none;
  }

  .optionsMobile {
    display: inline-block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.button_dropdown {
  background-color: var(--colorItemBg) !important;
  margin: 0 !important;
  border-radius: 0;
}

.button_dropdown > button {
  border: 0px solid var(--colorItemBorder);
  border-radius: 0px;
  width: 46px;
  height: 40px;
  padding: 0;
  position: relative;
  font-family: Icons;
  font-size: var(--icon-size-sm);
  color: var(--colorSecondary) !important;
  justify-content: end !important;
  background-color: transparent !important;
}

.button_dropdown > button::after {
  display: none !important;
}

.button_dropdown > div {
  opacity: 1 !important;
  padding: 0;
  background-color: var(--colorItemBg);
  border-radius: 7px;
  min-width: 8rem;
}
