.articlesContainer {
  height: auto;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}
/*SELECTS ========================================================= */
.selectsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.selectRecent,
.selectFilter {
  height: 60px;
  width: 50%;
  display: grid;
  align-items: center;
}

.selectRecent {
  justify-content: left;
}

.selectFilter {
  justify-content: right;
}
/* ========================================================= */
.cardContainer {
  display: inline-flex;
  flex-direction: column;
  /* height: 450px; */
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3rem;
  cursor: pointer;
}

.cardMargin {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100%;
}

.cardImageContainer {
  position: relative;
}

.trendingLabel {
  position: absolute;
  background-color: var(--colorArticleLabel);
  z-index: 1;
  top: 10px;
  left: 10px;
  min-width: 80px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.premium {
  left: unset;
  right: 10px;
  background-color: var(--colorArticlePremium);
}

.trendingLabel span {
  margin-left: 10px;
}

.cardImageContainer img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cardLikesContainer {
  display: flex;
}

.cardLikesContainer div {
  width: 30%;
}

.cardLikesContainer div:first-child {
  width: 70%;
}

.likesContainer,
.viewsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likesContainer span,
.viewsContainer span {
  margin-right: 5px;
}

@media (max-width: 999px) {
  .selectsContainer {
    display: grid;
    justify-content: center;
  }

  .selectRecent,
  .selectFilter {
    width: 100%;
  }

  .selectFilter {
    justify-content: center;
  }

  .cardContainer {
    display: grid;
    width: 100%;
    height: 100%;
  }
}

.trendingContentAdminOptions {
  display: none;
}

.trendingLabelAdmin {
  background-color: var(--colorArticleLabel);
  z-index: 25;
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--colorBackgroundDarkSec);
  transition: 0.5s;
  cursor: pointer;
}

.adminOptionsOverArticle {
  left: unset;
  right: 10px;
  width: 30px;
  background-color: var(--colorBackgroundDarkSec);
  opacity: 1;
}

.adminOptionsMenu {
  background-color: var(--colorBackgroundDarkSec);
  left: unset;
  right: 10px;
}

.updateOption:hover {
  background-color: var(--colorItemBgRGB);
  border-radius: 5px;
  color: var(--colorLight) !important;
  transition: 0.5s;
  cursor: pointer;
  width: auto;
}

.updateOption:hover span {
  color: var(--colorLight) !important;
}

.deleteOption:hover {
  background-color: var(--colorItemBgRGB);
  border-radius: 5px;
  color: var(--colorLight) !important;
  transition: 0.5s;
  cursor: pointer;
  width: auto;
}

.deleteOption:hover span {
  color: var(--colorLight) !important;
}

.cardContainer:hover .trendingContentAdminOptions {
  display: table-row;
  width: 110px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: -15%;
  z-index: 25 !important;
}
