.footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(/images/think-tools/Fondo-textura.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
  transform: rotate(180deg);
}

.footer::after {
  content: "";
  background-image: linear-gradient(
    to bottom,
    var(--colorItemBgRGB) 20%,
    var(--contentTransparentRGB)
  );
  position: absolute;
  max-height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  /* filter: brightness(80%);*/
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.img_NTT {
  width: 100%;
  max-width: 128px;
  margin-left: 0rem;
}

.footer_container {
  background-color: var(--colorPrimary);
  max-width: 1199px;
  border-radius: 20px 20px 0 0;
  z-index: 1;
}

.footer_container_row {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  position: relative;
  display: flow-root;
}

.footer_container_row_copyright {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer_container_row_links {
  float: right;
  margin-top: -22px;
}

.footer_content {
  position: relative;
}

.footer_content a {
  display: grid;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color-light);
  font-size: var(--font-size-md);
  font-family: var(--font-regular);
  min-height: 36px;
}

.footer_container_row_copyright a {
  display: inline;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color-light);
  font-size: var(--font-size-md);
  min-height: 36px;
}

.link_fr {
  float: right;
  margin-left: 20px;
}

@media (max-width: 1100px) {
  .footer_container_row_links {
    margin: auto;
    margin-top: 50px;
  }
}

@media (max-width: 767.98px) {
  .footer_container_row_copyright {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
  }
  .link_fr {
    float: none;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .footer_container_row {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }

  .foote_mob_top {
    margin-top: 25px;
  }
  .footer_content {
    margin-bottom: 2rem;
    padding-left: 0;
  }
}
