.footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  position: relative;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.img_NTT {
  width: 100%;
  max-width: 128px;
  margin-left: -0.8rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.footer_container {
  background-color: var(--colorPrimary);
  max-width: 100vw;
  min-height: 400px;
  padding: 0 7rem;
  z-index: 1;
}

.footer_container_row {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
  position: relative;
}

.footer_container_row_copyright {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer_container_row_links {
  float: right;
  margin-top: -22px;
}

.footer_content {
  position: relative;
}

.footer_content a {
  display: grid;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color-light);
  font-size: var(--font-size-md);
  /* min-height: 36px; */
  margin-bottom: 0.8rem;
}

.footer_container_row_copyright a {
  display: inline;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color-light);
  font-size: var(--font-size-md);
  min-height: 36px;
}

.link_fr {
  float: right;
  margin-left: 20px;
}

@media (max-width: 1100px) {
  .footer_container_row_links {
    margin: auto;
    margin-top: 50px;
  }
}

@media (max-width: 991.98px) {
  .footer_container {
    padding: 0 2.5rem;
  }
  .footer_content {
    margin-bottom: 2rem;
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  .footer_container_row_copyright {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .link_fr {
    float: none;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .footer_container_row {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }

  .foote_mob_top {
    margin-top: 25px;
  }
}
