.footer {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-10);
  padding-top: 80px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.img_NTT {
  width: 100%;
  max-width: 128px;
}

.footer_container {
  background-color: var(--white);
  max-width: 1199px;
  border-radius: 20px 20px 0 0;
}

.footer_container_row {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  position: relative;
  display: flow-root;
}

.footer_container_row_copyright {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer_container_row_links {
  float: right;
  margin-top: -22px;
}

.footer_content {
  position: relative;
}

.footer_content a {
  display: grid;
  text-decoration: none;
  cursor: pointer;
  color: var(--gray);
  font-size: var(--font-size-md);
  min-height: 36px;
}

.footer_container_row_copyright a {
  display: inline;
  text-decoration: none;
  cursor: pointer;
  color: var(--gray);
  font-size: var(--font-size-md);
  min-height: 36px;
}

.link_fr {
  float: right;
  margin-left: 20px;
}

@media(max-width: 1100px) {
  .footer_container_row_links {
    margin: auto;
    margin-top: 50px;
  }
}

@media(max-width: 575px) {
  .footer_container_row {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }
  .footer_container_row_copyright {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .link_fr {
    float: none;
    margin-top: 20px;
  }
  .foote_mob_top {
    margin-top: 25px;
  }
}
