.content_more {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 55%;
}

.more_title {
  text-align: center;
  margin-bottom: 40px;
}

.author_pict {
  border-radius: 50px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 991.92px) {
  .buttonsContainer {
    justify-content: flex-start;
    margin-top: 1rem;
  }
}
