.content_more {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 55%;
}

.more_title {
  text-align: center;
  margin-bottom: 40px;
}

.author_pict {
  border-radius: 50px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.categoryList {
  list-style-type: none;
  padding-left: 0;
}

.category {
  display: inline-block;
  padding: 5px 8px;
  background-color: var(--colorItemBgFocused);
  margin-right: 10px;
  margin-bottom: 10px;
}

.cover {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.cover_gradient {
  position: relative;
  margin-bottom: 3.75rem;
}

.cover_gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    var(--colorPrimaryDark),
    var(--contentTransparentRGB)
  );
}

.resourcesBlock {
  margin: 3rem 0;
}

@media (max-width: 1399.98px) {
  .cover {
    height: 22.5rem;
  }
}

@media (max-width: 991.92px) {
  .buttonsContainer {
    justify-content: flex-start;
    margin-top: 1rem;
  }
}

@media (max-width: 767.98px) {
  .cover {
    height: 15rem;
  }
}
