.unitHeader {
  position: relative;
  border: 1px solid var(--contentTransparentRGB);
  margin-bottom: 2rem;
  padding: 0.875rem;
}

.unitIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.75rem;
  height: 3.75rem;
  background-color: var(--blue);
  border-radius: 50%;
  margin-right: 1rem;
}

.titleInput {
  /* width: max-content; */
  color: var(--text-color-light);
  font-size: var(--font-size-lg);
  font-family: var(--font-regular);
  border: none;
  background-color: var(--contentTransparentRGB);
}

.btn {
  /* position: absolute; */
  align-items: center;
  background-color: var(--colorPrimary);
  border: none;
  color: var(--colorLight);
  display: flex;
  font-family: Icons;
  justify-content: center;
  width: 46px;
  height: 2.5rem;
  opacity: 0;
}

.move {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  top: 1.5rem;
  width: 3.5rem;
  left: -3.5rem;
}

.edit {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 1.5rem;
  width: 3.5rem;
  right: -3.5rem;
  z-index: 10;
}

.editDropdown {
  position: absolute;
  top: 100%;
  left: 0.7rem;
  visibility: hidden;
  z-index: 5;
}
.unitHeader:hover {
  border: 1px solid var(--colorLight);
}

.unitHeader:hover .btn {
  opacity: 1;
}

.edit:hover .editDropdown {
  visibility: visible;
}
