.commentList {
  list-style-type: none;
  position: relative;
}

.liFormat {
  list-style-type: none;
}

.hiddeInputReply {
  display: none;
}

.pointer:hover {
  cursor: pointer !important;
}

/* //lines */
.commentList::before {
  content: "";
  width: 1px;
  height: 100%;
  background: var(--colorPrimaryTransp);
  position: absolute;
  left: 50px;
  top: 0;
}
.mainLevel::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.commentList li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.author_pict {
  border-radius: 50px;
}

.positionDate {
  position: absolute;
  right: 0;
}

.DropDown > div {
  border: none !important;
}

.liked {
  color: var(--colorPrimary) !important;
}

.noLiked {
  color: var(--colorPrimaryHover) !important;
}
/* .DropDown>div>button {
  border: none !important;
} */
/* .DropDown > div > button:focus,
.DropDown > div > button:active {
  outline: none !important;
  box-shadow: none !important;
} */
