
.forum_title_cont {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 100px;
  display: block;
  text-align: center;
  background-image: url('/images/think-tools/Fondo-textura.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 0;
  max-height: min-content;
  position: relative;
}

.forum_title_cont::after {
  content: "";
  background-image: linear-gradient(to bottom, var(--contentTransparentRGB), var(--colorItemBgRGB) 95%);
  position: absolute;
  max-height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.forum_title_cont h2 {
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  .forum_title_cont {
  padding-top: 150px;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  background-size: auto 100%;
  }
}
