.postsOptions{
  display: flex;
  align-items: center;
  padding-left: 15%;
  margin-bottom: 30px;
}

.postsOption{
  width: 10vw;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: var(--colorSecondary);
  transition: 0.5s;
  cursor: pointer;
}

.postsOption:hover{
  color: var(--colorLight);
}

.postsOption span{
  margin-left: 10px;
}

@media (max-width: 999px){
  .postsOptions{
    display: grid;
  }
  .postsOption{
    width: 50%;
  }
}
