.container {
  width: 30rem;
  min-height: 30rem;
  background-color: var(--colorItemBg);
  padding: 2rem;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.containerCreate {
  width: 30rem;
  min-height: 30rem;
  background-color: var(--colorItemBg);
  padding: 2rem;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.link {
  color: var(--text-color-highlight);
  text-decoration: none;
}

.link:hover {
  color: var(--text-color-highlight);
  text-decoration: underline;
}

.check {
  display: inline-flex;
}

.buttonChek {
  display: contents;
}

.buttonContinue {
  display: flex;
  justify-content: flex-end;
}

.error {
  display: block;
  margin-bottom: 1rem;
  color: var(--text-color-error);
}

@media screen and (min-width: 576px) {
  .container {
    padding: 60px;
    margin-top: 0;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 0;
    margin-bottom: 0;
  }
}
