.modalContainer {
  background-color: var(--colorItemBg);
  padding: 2.5rem;
  border-radius: 10px;
}

.modalWidth {
  max-width: 850px;
}

.imageInput {
  height: 15rem;
  margin-bottom: 1rem;
}

.descriptionInput {
  min-height: 8rem;
}

.footer {
  border: 0;
  display: flex;
  justify-content: space-between;
}

.switchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
