.editor {
  background-color: #0d0c22;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorContent {
  position: relative;
  display: grid;
  min-height: 100vh;
  background-color: #232739;
  width: 76%;
  margin-top: 8%;
  margin-bottom: 8%;
  padding-bottom: 7%;
  border-radius: 25px;
  overflow: hidden;
}

.editorContent::-webkit-scrollbar {
  display: none;
}

.canvas {
  width: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  opacity: 0.7;
  font-size: 16px;
  color: #ffffff;
  padding-top: 60px;
  margin-bottom: 30px;
  padding-right: 62px;
  padding-left: 62px;
}

.optionsContainer {
  position: absolute;
  top: 20%;
  right: 6vw;
  z-index: 0;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.optionsItem:nth-child(n) {
  margin-bottom: 12px;
}

.optionsItem:last-child {
  margin-bottom: 0;
}

@media (max-width: 999px) {
  .optionsContainer {
    right: 3vw;
  }
}
