.editor {
  background-color: #0D0C22;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorContent {
  position: relative;
  display: grid;
  height: 100vh;
  background-color: #232739;
  width: 70%;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 25px;
  overflow: auto;
}

.editorContent::-webkit-scrollbar {
  display: none;
}

.canvas {
  width: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  opacity: 0.7;
  font-size: 16px;
  color: #FFFFFF;
  padding-top: 60px;
  margin-bottom: 30px;
}
