.editor {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorContent {
  background-color: var(--blackEditor);
  position: relative;
  display: grid;
  min-height: 100vh;
  width: 76%;
  padding-top: 60px;
  margin-top: 8%;
  margin-bottom: 8%;
  padding-bottom: 12%;
  border-radius: 0px;
  overflow: hidden;
}

.editorContentPreview {
  background-color: var(--blackEditor);
  position: relative;
  width: 76%;
  overflow: hidden;
}

.editorContent::-webkit-scrollbar {
  display: none;
}

.inputImg {
  visibility: hidden;
  width: 0;
  position: relative;
}

.editorImage {
  max-width: 80%;
}

.canvas {
  width: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  /* padding-top: 60px; */
  margin-bottom: 30px;
  padding-right: 62px;
  padding-left: 62px;
}

.optionsContainer {
  position: absolute;
  top: 0;
  margin-top: 8%;
  right: 7vw;
  z-index: 0;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.optionsItem:nth-child(n) {
  margin-bottom: 12px;
}

.optionsItem:last-child {
  margin-bottom: 0;
}


.cover {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.cover_gradient {
  position: relative;
  margin-bottom: 3.75rem;
}

.cover_gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    var(--colorPrimaryDark),
    var(--contentTransparentRGB)
  );
}

.author_pict {
  border-radius: 50px;
}

@media (max-width: 1399.98px) {
  .cover {
    height: 22.5rem;
  }
}

@media (max-width: 999px) {
  .optionsContainer {
    right: 3vw;
  }
}

@media (max-width: 767.98px) {
  .cover {
    height: 15rem;
  }
}

.modalContainer {
  background-color: var(--colorItemBg);
  padding: 2.5rem;
  border-radius: 10px;
}

.editorContentP {
  background-color: var(--blackEditor);
  /* position: relative; */
  /* display: grid; */
  /* justify-content: center; */
  min-height: 100vh;
  padding-top: 60px;
  margin-top: 8%;
  margin-bottom: 8%;
  padding-bottom: 12%;
  border-radius: 0px;
  padding-left: 15%;
  padding-right: 15%;
  /* overflow: hidden; */
}

.doots {
  color: var(--colorPrimary);
  font-size: var(--font-size-lg);
  margin-left: 5%;
  margin-right: 5%;
  display: inline-flex;
  position: relative;
  top: -14px;
}

.previewMargin {
  margin-top: 50px;
  margin-bottom: 2rem;
}

.previewContentImg {
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.imgPreview{
  max-width: 100%;
  /* height: 100%; */
}

.editorContentP iframe{
  width: 100%;
}

@media (max-width: 576px) {
  .doots {
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (max-width: 999px){
  .previewContentImg {
    height: auto;
  }
}
