.editor {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorContent {
  background-color: var(--blackEditor);
  position: relative;
  display: grid;
  min-height: 100vh;
  width: 76%;
  padding-top: 60px;
  margin-top: 8%;
  margin-bottom: 8%;
  padding-bottom: 12%;
  border-radius: 0px;
  overflow: hidden;
}

.editorContent::-webkit-scrollbar {
  display: none;
}

.inputImg {
  visibility: hidden;
  width: 0;
  position: relative;
}
.editorImage {
  max-width: 80%;
}

.canvas {
  width: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  /* padding-top: 60px; */
  margin-bottom: 30px;
  padding-right: 62px;
  padding-left: 62px;
}

.optionsContainer {
  position: absolute;
  top: 0;
  margin-top: 8%;
  right: 7vw;
  z-index: 0;
  width: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.optionsItem:nth-child(n) {
  margin-bottom: 12px;
}

.optionsItem:last-child {
  margin-bottom: 0;
}

@media (max-width: 999px) {
  .optionsContainer {
    right: 3vw;
  }
}
