.container {
  width: max-content;
  padding: 2rem;
}

.descriptionInput {
  min-height: 6rem;
}

.imageSize {
  width: 22.5rem;
  height: 22.5rem;
  margin-bottom: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
