.container {
  background-color: var(--colorItemBg);
  width: max-content;
  padding: 2.5rem;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.descriptionInput {
  min-height: 6rem;
}

.imageSize {
  width: 22.5rem;
  height: 22.5rem;
  margin-bottom: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .imageSize {
    width: 100%;
    height: 15rem;
    margin-bottom: 5px;
  }
}

@media (max-width: 379.98px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}
